  table {
  width: 100%;
  border-collapse: collapse;
  border-color: #B31B1B;
}

table th, 
table tr {
    text-align: center;
}
table td {
  text-align: center;
  padding: 8px;
  

  border: 10px solid #B31B1B;
  table {
  margin-bottom: 20px; 
}

.below-table {
  display: block;       
  margin: 0 auto;       
  width: 300px;         
}
}

.center-img {
  display: block;       
  margin: 0 auto;       
  width: 300px;         
}



h1 {
    display: grid;
    place-items: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;

}

h2 {
    display: grid;
    place-items: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;

}

ul {
    display: grid;
    place-items: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    font: bold;
}

body{
    background-color: #81D8D0;

}

nav ul {
    display: flex;
     list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    margin-bottom: 20px;
}

footer{
    background-color: #81D8D0;
    color: black;
    text-align: center;
    padding: px;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 6px grey;
    margin: 0;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
}