  table {
  width: 100%;
  border-collapse: collapse;
  border-color: #B31B1B;
}

table th, 
table tr {
    text-align: center;
    color: #afe1af;

}
table td {
  text-align: center;
  padding: 8px;
  

  border: 10px solid #CCCCFF;
  table {
  margin-bottom: 20px; 
}

.below-table {
  display: block;       
  margin: 0 auto;       
  width: 300px;         
}
}

.center-img {
  display: block;       /* makes the image a block element */
  margin: 0 auto;       /* auto left/right margins center it */
  width: 300px;         /* optional: control size */
}



h1 {
    display: grid;
    place-items: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    color: #afe1af;
}

h2 {
    display: grid;
    place-items: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    color: #afe1af;

}

p{
    color: #afe1af;
    text-align: center;
   
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


body{
    background-color: #321414;

}

nav ul {
    display: flex;
     list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    margin-bottom: 20px;
}

.buttonarea{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.buttonareatwo{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.caragents {
  display: flex;
  justify-content: space-evenly;
}

footer{
    background-color: #321414;
    color: black;
    text-align: center;
    padding: px;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 6px grey;
    margin: 0;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
}